.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0px 18px;
  height: 6vh;
  position: fixed;
  max-width: 576px;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0px);
  border-bottom: 2px solid var(--light-primary-color);
}

.login_page {
  justify-content: center;
}

.title {
  color: #fff;
  font-size: 18px;
}
